.external-link {
  word-break: break-all;
  background-position-y: 0px;
}

.external-link div.external-link-icon {
  display: inline-block;
  width: 16px;
  height: 16px;
  background-size: cover;
  vertical-align: text-bottom;
  margin-right: 4px;
}
